.footer {
  background-color: rgb(255, 193, 7);
  bottom: 0;
  color: rgb(31, 35, 56);
  display: flex;
  justify-content: space-between;
  padding: 16px;
  position: fixed;
  width: 100%;
}

.footer button {
  background-color: transparent;
  border: none;
  outline: none;
}
